:root {
    --primary-blue: #3ACCE8;
    --background-dark: #19212c;
    --backgrounf-light: #28535D;
    --primary-green: turquoise;
    --grey: #D6D6E3;
}

html {
    background-color: var(--background-dark);
    color: var(--primary-green);
    height: 100%;
}

* {
    font-family: 'Lato', sans-serif;
}

.header {
    text-align: center;
    margin-top: 100px;
}

.container {
    width: 300px;
    margin: auto auto;
}

label,
input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
}

label {
    font-weight: 500;
}

input {
    border-radius: 5px;
    padding: 0.5rem;
    border: transparent;
}

#calculate-number {
    margin: 0.5rem auto;
    display: block;
}

#calculate-number {
    background-color: transparent;
    color: var(--primary-green);
    padding: 0.5rem 0.7rem;
    border-color: turquoise;
    border-width: medium;
    border-radius: 5px;
    outline: transparent;
    font-weight: 500;
}

#calculate-number:hover {
    color: var(--background-dark);
    background-color: var(--primary-green);

}

#output-container {
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: large;
    border-color: var(--primary-green);
    border-width: medium;
    border-radius: 5px;
    background-color: white;
}   